@tailwind base;

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamBold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamMedium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamLight.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@tailwind components;

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Gotham';
  outline: none;
  outline-width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.default-width {
  width: 720px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-shadow {
  box-shadow: 0 -5px 5px -5px #cbced1;
}